.App{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.container__utils{
    display:flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container{
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

